@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    height: 100px;
    background-color: white;
    position: relative;

}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem; 
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
}
.navbar .logo{
    font-size: 2.6rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

.srchBar{
    width:40%;
    height: 40px;
    border-radius: 30px;
    position: relative;
    background-color: white;
    border: 2px solid #0C1E31;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.srchBar i{
    font-size: 18px;
    color: #0C1E31;
}
.srchBar input{
    flex: 1;
    height: 20px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 1rem;
    padding-left: 10px;
}
.navbar-icon{
    margin: 5px 0;
}
.navbar-icon i{
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}





.sub-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
.sub-header p{
    margin:10px 20px;
    font-size:0.9rem;
    letter-spacing: 1;
}
.sub-header p a{
    color: #0C1E31;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1;
}
.sub-header p a:hover{
    text-decoration:underline;
}

.promo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 0.6rem;
    background-color: #0C1E31;
    color: #EFF5FB;
    font-size: 0.8rem;
    
}
.promo .border{
    border: 1.5px solid white;
    margin: 0 1rem;
}

.promo a{
    color: #EFF5FB;
}

.direction{
    padding-left: 4em;
    padding-top: 0.5em;
    position: relative;
}
.direction a{
    color: #0C1E31;
    font-size: 0.9rem;
}
.direction span{
    font-size: 0.9rem;
    color: grey;
}
.direction h2{
    padding-top: 0.5em;
    font-size: 2.5rem;
    color:#0C1E31;
    
}





.image{
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    display: grid;
    gap: 2rem;  
    background-color: white;
    position: relative;
}
.product{
    width: 1000px;

    position: relative;
}
.product-img{
    position: relative;
    width: 100%;
    height: 100vh;
}

.shrink img {
    transition: 1s ease;
    }
    .shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

.disc{
    text-align: center;
    font-size: 0.9rem;
}
.disc .price {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 600;
}



button{
    border: none;
    background-color: transparent;
}
button i{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
}
button i:hover{
    color: rgba(0, 0, 0, 0.5);
}



footer{
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: relative;
    color: #cecece;
}
footer .border{
    border-bottom: 2px solid #4d4d4d;
    display: flex;
    position: relative;
    margin: 1.5em;
}
footer .border .foot{
    position: relative;
    margin: 1em;
}
footer .border .foot h3{
    color: white;
    margin: 1.2em 0;
    font-size: 1.2rem;
    position: relative;
    
}
footer .border .foot p{
    position: relative;
    margin: 0.5em 0;
    font-size: 0.8rem;
}
footer .border .foot a{
    color: #cecece;
}
.foot-4{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.foot-4 .logo{
    margin: auto;
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
}
.foot-4 .official{
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
}















@media (max-width:850px) {
    .promo{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0.6rem;
        background-color: #0C1E31;
        color: #EFF5FB;
        font-size: 0.8rem;   
    }
    .promo a{
        color: #EFF5FB;
    } 
    .navbar .srchBar{
        order: 1;
    }
    .navbar .srchBar{
        width: 100%;
    }    
    
    .navbar .logo{
    font-size: 1.5rem;
    }
    .navbar-icon i{
        padding: 5px;
        font-size: 0.8rem;
    }
   

    footer .border{
        border-bottom: 2px solid #4d4d4d;
        display: block;
        position: relative;
        margin: 1.5em;
        /*MEDIA QUERY*/
    }
    footer .border .foot{
        position: relative;
        margin: 1em;
    }
    footer .border .foot h3{
        position: relative;
        color: white;
        margin: 1.2em 0;
        font-size: 1.6rem;
        
    }
    #forda-response{
       padding-top:1.2em;
    }
   
    footer .border .foot p{
        position: relative;
        margin: 0.5em 0;
        font-size: 1rem;
    }
    footer .border .foot a{
        color: #cecece;
    }

            /*SOCIAL MEDIA LOGO OF FOOTER */
    .foot .brands{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}
    .foot .fa-facebook{
        font-size: 2rem;
        margin: auto 0.5em;
    }
    .foot .fa-instagram{
    font-size: 2rem;
    margin: auto 0.5em;

    }
    .foot .fa-twitter{
        font-size: 2rem;
        margin: auto 0.5em;

    }
    .foot-4{
        display: inline;
        justify-content: space-around;
        text-align: center;
        
    }
    .foot-4 .logo{
        /* margin-left: 1em; */
        font-size: 3.5rem;
        margin-bottom: 0.1em;
        font-family: 'Cormorant Garamond', serif;
    }
    .foot-4 .official{
        font-size: 0.8rem;
    }
    .foot-4 .official p{
        margin: 0.5em 0;
    }
}






@media (max-width:600px) {
    
    
    .promo{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align:left;
        padding: 0.1rem;
        background-color: #0C1E31;
        color: #EFF5FB;
        font-size: 0.5rem;   
        
    }   
    
    .promo .border{
        border: 1.5px solid white;
        margin-left:1rem;
        margin-right: 0.95rem;
    }
    .srchBar{
        width:40%;
        height: 30px;
        border-radius: 30px;
        position: relative;
        background-color: white;
        border: 2px solid #0C1E31;
        margin-top: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .srchBar input{
        flex: 1;
        height: 20px;
        outline: none;
        border: none;
        background-color: white;
        font-size: 0.8rem;
        padding-left: 10px;
    }
    .srchBar i{
        font-size: 0.7rem;
        color: #0C1E31;
    }


    .direction{
        padding-left: 3em;
        padding-top: 0.5em;
        position: relative;
    }
    .direction a{
        color: #0C1E31;
        font-size: 0.6rem;

    }
    .direction i{
        font-size: 0.6rem;
   
    }
    .direction span{
        color: grey;
        font-size: 0.6rem;

    }
    .direction h2{
        font-size: 1.1rem;
        color:#0C1E31;
    }

}

@media (max-width:430px) {
    
    .sub-header p{
        margin:10px;
        font-size:0.6rem;
        letter-spacing: 1;
        position: relative;
    }
    .foot-4 .logo{
        /* margin-left: 1em; */
        font-size: 2.5rem;
        margin-bottom: 0.1em;
        font-family: 'Cormorant Garamond', serif;
    }
    .foot-4 .official{
        font-size: 0.5rem;
        line-height: 1.5em;
    }
    .foot-4 .official p{
        margin: 0.5em 0;
        font-size: 0.6rem;
    }
}