@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    height: 100px;
    background-color: #EFF5FB;
    position: relative;
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.6em;
    font-family: 'Cormorant Garamond', serif;

}
.nav .logo{
    font-size: 3.2rem;
    color: #EFF5FB;
    font-weight: 400;
    cursor: pointer;
    padding-left: 0.8em;
    position: relative;
}
.nav .logo a{
    text-decoration: none;
    color: #0C1E31;
}
.nav ul .search-bar{
    /* position: relative;
    padding: 0em 0.6em;
    width: 300px;
    height: 40px;
    border: 3px solid #0C1E31;
    border-radius: 50px; */
    margin-left: 20%;
    margin-right: auto;
    padding: 0px 10px;
    position: relative; 
    width: 300px;
    height: 40px;
    border: 3px solid #0C1E31;
    border-radius: 50px;
    
}
.element{
    width: 100%;
    height: 100%;
}
input{
    margin:10px 0;
    position: relative;
    background-color: #EFF5FB;
    border: none;
}
input:focus{
    outline: none;
}
.nav ul{
    padding: 0em 2.5em;
}
.nav ul a{
    position: relative;
    color: #0C1E31;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0em 0.5em;
}
.promo{
    background-color: #0C1E31;
    color: #EFF5FB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    margin: 5px 0;
    max-width: 100%;
}
.promo p{
    font-size:1rem;
}
.promo a{
    color:#EFF5FB;
}
.direction{
    padding-left: 3em;
    padding-top: 0.5em;
    position: relative;
}
.direction a{
    color: #0C1E31;
}
.direction span{
    color: grey;
}
.direction h2{
    font-size: 2.5rem;
    color:#0C1E31;
}















@media (max-width:858px) {
    .nav .logo{
        font-size: 2rem;
        color: #EFF5FB;
        font-weight: 400;
        cursor: pointer;
        padding-left: 0.8em;
        position: relative;
    }  
    .nav ul .search-bar{
        margin-left: 20%;
        margin-right: auto;
        padding: 0px 10px;
        position: relative; 
        width: 200px;
        height: 30px;
        border: 3px solid #0C1E31;
        border-radius: 50px;
        
    } 
    .element{
        width: 100%;
        height: 100%;
    }
    input{
        margin:5px 0;
        position: relative;
        background-color: #EFF5FB;
        border: none;
    }
    input:focus{
        outline: none;
    }
    .nav ul{
        padding: 0em 2.5em;
        display: inline-block;
    }
    .nav ul a{
        position: relative;
        color: #0C1E31;
        text-decoration: none;
        font-size: 0.7rem;
        padding: 0em 0.5em;
    }
    .promo p{
        font-size: 1rem;
    }
}
