@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
} */
html,
body{
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    height: 100px;
    position: relative;
}
.background{
    position: relative;
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(res1.jpg); */
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1) ), url(/AEKI/space1.jpg);
    background-color: #0C1E31;
    background-position:center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    justify-content: space-between;
    color: #EFF5FB;
}
.navbar .logo{
    font-size: 3.5rem;
    margin: .5rem;
    font-family: 'Cormorant Garamond', serif;

}
.navbar .navbar-link{
    margin: 1rem;
}
.navbar .navbar-link ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar .navbar-link li{
    list-style: none;
}
.navbar .navbar-link li a{
    text-decoration: none;
    color: #EFF5FB;
    padding: 1rem;
    display: block;
}


.toggle-button{
    position: absolute;
    top:1.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}



.mantra{
    position: relative;
    padding-top: 6rem;
    text-align: center;
    width: 100%;
    color: #EFF5FB;
}
.mantra .intro{
    position: relative;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 1;
}
.mantra .sub-intro{
    font-size: 1rem;
    position: relative;
}




.promo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.promo ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0.5em;
    
}


.chair{
    position: relative;
    background-image: url(ass1.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    margin: 20px 0;
}
.chair .disc{
    position: relative;
    color: #0C1E31;
    text-transform: lowercase;
    margin: 40px;
}
.chair .disc h2{
    margin: 10px;
    position: relative;
} 
.chair .disc p{
    margin: 10px;
} 
.chair .disc a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.chair .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
}



.sofa{
    position: relative;
    background-image: url(ass5.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    margin: 40px 0;
}
.sofa .disc{
    position: relative;
    color: #0C1E31;
    text-transform: lowercase;
    margin: 40px;
}
.sofa .disc p{
    margin: 10px;
} 
.sofa .disc a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.sofa .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
} 



.bed{
    position: relative;
    background-image: url(ass4.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content:center;
    margin: 40px 0;
}
.bed .disc{
    position: relative;
    color: #0C1E31;
    text-transform: lowercase;
    margin-top: 50px;
    text-align: center;
}
.bed .disc p{
    margin: 20px;
} 
.bed .disc a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.bed .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
} 


.table{
    position: relative;
    background-image: url(ass3.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    margin: 20px 0;
}
.table .disc{
    position: relative;
    color: #0C1E31;
    text-transform: lowercase;
    margin: 40px;
}
.table .disc p{
    margin: 10px;
} 
.table .disc a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.table .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
}



.wall{
    position: relative;
    background-image: url(/AEKI/wall-bg.webp);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    margin: 40px 0;
}
.wall .disc{
    position: relative;
    color: #0C1E31;
    text-transform: lowercase;
    margin: 40px;
}
.wall .disc p{
    margin: 10px;
} 
.wall .disc a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.wall .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
} 



/* footer{
    background-color: rgb(51, 51, 51);
    padding: 30px; 
    position: relative;
}
footer h3{
    margin-top: 5px;
    color: white;
    font-size: 12px;
}
.sub-foot{
    margin-top: 20px;
}
footer p{
    font-size: 10px;
    color:  #cccccc;
    margin-top: 10px;
}
.foot-1{
    margin: 10px;
    position: relative;
}
.foot-2{
    margin: 10px;
    position: relative;
}
.foot-3{
    margin: 10px;
    position: relative;
}
.fa-brands{
    color: white;
    margin-left: 5px;
}
.bord{
    border-bottom: 2px solid #4d4d4d;
    display: flex;
}
.foot-4{
    display: inline-block;
}
.foot-4 p{
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    display: inline-block;
}

.foot-5{
    margin-left: 20%;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-right: auto;
    text-align: center;
}
.foot-5 h3{
    font-size: 15px;
 
}
.foot-5 p{
    font-size: 10px;
    margin-top: 0px;
} */
footer{
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: relative;
    color: #cecece;
}
footer .border{
    border-bottom: 2px solid #4d4d4d;
    display: flex;
    position: relative;
    margin: 1.5em;
    /*MEDIA QUERY*/
}
footer .border .foot{
    position: relative;
    margin: 1em;
}
footer .border .foot h3{
    color: white;
    margin: 1.2em 0;
    font-size: 1.2rem;
    position: relative;
    
}
footer .border .foot p{
    position: relative;
    margin: 0.5em 0;
    font-size: 0.8rem;
}
footer .border .foot a{
    color: #cecece;
}
.foot-4{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.foot-4 .logo{
    margin: auto;
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
}
.foot-4 .official{
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
}




@media (max-width: 850px){
    
    .toggle-button{
        display: flex;
    }
    .navbar-link{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar .logo{
        font-size: 2rem;
        margin: .5rem;
      
    }
    .navbar-link ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-link li{
        text-align: center;
    }
    .navbar .navbar-link li a {
        padding: .5rem 1rem;
    }
    .navbar-link.active{
        display: flex;
    }


    .foot-4{
        display: flex;
        margin: auto;
    }
    .foot-4 .logo{
        font-size: 2.4rem;
        font-family: 'Cormorant Garamond', serif;
    }
    .foot-4 .official{
        text-align: center;
        font-size: 0.6rem;
    }


}



@media (max-width: 600px){
    html,
    body{
        font-family: 'Poppins', sans-serif;
        height: 100px;
        position: relative;
    }
    .background{
        position: relative;
        background-image: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0.1) ), url(/AEKI/space1.jpg);
        width: 100%;
      
    }
    .navbar .logo{
        font-size: 1.5rem;
        margin: .5rem;
    }
    .toggle-button{
        top: .90rem;
        width: 30px;
        height: 21px;
    }
    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .mantra{
        position: relative;
        padding-top: 8rem;
        text-align: center;
        width: 100%;
        color: #EFF5FB;
    }
    .mantra .intro{
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1;
        margin: auto;
    }
    .mantra .sub-intro{
        margin:auto 5em;
        font-size: 0.6rem;
    }
    .promo{
        position: relative;
        display: flex;
        align-items:center;
        justify-content: center;
        
    }
    .promo ul li{
        position: relative;
        list-style: none;
        display:grid;
        grid-template-columns: 1fr 5fr;
        margin: 0.5rem;
        padding: auto;
        font-size: 1rem;
    }
    .fa-solid{
        font-size: 1rem;
    }

   
    

    

    .wall{
        position: relative;
        background-image: url(/AEKI/wall-bg.webp);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content:flex-start;
        margin: 40px 0;
    }
   
        /*FOOTER*/

    footer .border{
        border-bottom: 2px solid #4d4d4d;
        display: block;
        position: relative;
        margin: 1.5em;
        /*MEDIA QUERY*/
    }
    footer .border .foot{
        position: relative;
        margin: 1em;
    }
    footer .border .foot h3{
        position: relative;
        color: white;
        margin: 1.2em 0;
        font-size: 1.6rem;
        
    }
    #forda-response{
       padding-top:1.2em;
    }
   
    footer .border .foot p{
        position: relative;
        margin: 0.5em 0;
        font-size: 1rem;
    }
    footer .border .foot a{
        color: #cecece;
    }

            /*SOCIAL MEDIA LOGO OF FOOTER */
    .foot .brands{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}
    .foot .fa-facebook{
        font-size: 2rem;
        margin: auto 0.5em;
    }
    .foot .fa-instagram{
    font-size: 2rem;
    margin: auto 0.5em;

    }
    .foot .fa-twitter{
        font-size: 2rem;
        margin: auto 0.5em;

    }
    .foot-4{
        display: inline;
        justify-content: space-around;
        text-align: center;
        
    }
    .foot-4 .logo{
        /* margin-left: 1em; */
        font-size: 3.5rem;
        margin-bottom: 0.1em;
        font-family: 'Cormorant Garamond', serif;
    }
    .foot-4 .official{
        font-size: 0.8rem;
    }
    .foot-4 .official p{
        margin: 0.5em 0;
    }
 
   
    
}


@media (max-width: 300px){
    .foot .brands{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}