@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
} */
html,
body{
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    height: 100px;
    position: relative;
}
.background{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1) ), url(/AEKI/space1.jpg);
    background-color: #0C1E31;
    background-position:center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: back-Ground;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes back-Ground{
    0%{
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1) ), url(/AEKI/space1.jpg);
        
    }
    25%{
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1) ), url(/AEKI/space2.jpg);

    }
    50%{
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1) ), url(/AEKI/space3.jpg);

    }
    75%{
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1) ), url(AEKI/back-ground2.jpg);

    }
    100%{
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1) ), url(AEKI/back-ground3.jpg);

    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    color: #EFF5FB;
}
.navbar .logo{
    font-size: 2.5rem;
    margin: 1.5rem;
    font-family: 'Cormorant Garamond', serif;

}
.navbar .navbar-link{
    margin:  1.5rem;
}
.navbar .navbar-link ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar .navbar-link li{
    list-style: none;
}
.navbar .navbar-link li a{
    text-decoration: none;
    color: #EFF5FB;
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
    display: block;
}


.toggle-button{
    position: absolute;
    top:1.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}



.mantra{
    position: relative;
    text-align: center;
    width: 100%;
    color: #EFF5FB;
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    
}
.mantra .intro{
    position: relative;
    font-size: 3rem;
    font-weight: 600;
}
.mantra .sub-intro{
    font-size: 1rem;
    position: relative;
    padding: 0;
    margin: 0;
}



.sec1{
    background-color: #B1C1DB;
    margin: 50px 0 40px 0;
    text-align: start;
    position: relative;
    padding: 40px 90px 100px 90px;
    line-height: 21px;
}
.sec1 h1{
    text-align: center;
    padding-bottom:20px ;
}
.section{
    display: flex;
 
}
.sec2{
    font-size: 0.8rem;
    padding-top:20px;
    padding-left: 70px;
    position: relative;
}
.sec2 h3{
    line-height: 19px;
    letter-spacing: 0.5px;  
    position: relative; 
}
.sec2 p{
    line-height: 21px;
    letter-spacing: 0.6px;
    position: relative;
}
.sec2 i{
    position:absolute ;
    top: 0.7em;
    left:0.6em;
    font-size: 2rem;
}


.chair{
    margin: 40px 0;
    max-width: 100%;
    position: relative;
}
 .chair .disc{
    position: absolute;
    top: 2em;
    right: 5em;
    padding: 1rem;
    font-size: 1rem;
}

.chair .disc a{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.chair .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
} 




.sofa{
    margin: 40px 0;
    max-width: 100%;
    position: relative;
}
 .sofa .disc{
    position: absolute;
    top: 2em;
    left: 5em;
    padding: 1rem;
    font-size: 1rem;
}
.sofa .disc a{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.sofa .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
} 





.bed{
    margin: 40px 0;
    max-width: 100%;
    position: relative;
}
 .bed .disc{
    position: absolute;
    top: 2em;
    right: 5em;
    padding: 1rem;
    font-size: 1rem;
}
.bed .disc a{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.bed .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
} 


.table{
    margin: 40px 0;
    max-width: 100%;
    position: relative;
}
 .table .disc{
    position: absolute;
    top: 2em;
    left: 5em;
    padding: 1rem;
    font-size: 1rem;
}
.table .disc a{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.table .disc a:hover{  
    box-shadow: inset 210px 0 0 0 #0C1E31;
    color: #EFF5FB;
}




.wall{
    margin: 40px 0;
    max-width: 100%;
    position: relative;
}
 .wall .disc{
    position: absolute;
    top: 2em;
    right: 5em;
    padding: 1rem;
    font-size: 1rem;
}
.wall .disc a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #0C1E31;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color: #0C1E31;
    margin: 10px 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.wall .disc a:hover{  
    box-shadow: inset 200px 0 0 0 #0C1E31;
    color: #EFF5FB;
} 




footer{
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: relative;
    color: #cecece;
}
footer .border{
    border-bottom: 2px solid #4d4d4d;
    display: flex;
    position: relative;
    margin: 1.5em;
}
footer .border .foot{
    position: relative;
    margin: 1em;
}
footer .border .foot h3{
    color: white;
    margin: 1.2em 0;
    font-size: 1.2rem;
    position: relative;
    
}
footer .border .foot p{
    position: relative;
    margin: 0.5em 0;
    font-size: 0.8rem;
}
footer .border .foot a{
    color: #cecece;
}
.foot-4{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.foot-4 .logo{
    margin-left:0.8em;
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
}
.foot-4 .official{
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
}





















@media (max-width: 850px){
    .toggle-button{
        display: flex;
    }
    .toggle-button{
        top: 1.5rem;
        width: 30px;
        height: 21px;
    }
    .toggle-button .bar{
        height: 1.5px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
    .navbar-link{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar .logo{
        font-size: 1.5rem;
        margin: 1.5rem;
        
    }
    .navbar .navbar-link{
        margin:   0;
    }
    .navbar-link ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-link li{
        text-align: center;
    }
    .navbar .navbar-link li a {
        padding: .5rem 1rem;
    }
    .navbar-link.active{
        display: flex;
    }
   

    .sec1{
        background-color: #B2BBD2;
        margin: 50px 0;
        text-align: start;
        position: relative;
        padding: 50px;
    }
    .sec2{
        font-size: 0.6rem;
        padding-top:20px;
        padding-left: 60px;
        position: relative;
    }
    .sec2 i{
        position:absolute ;
        top: 0.7em;
        left:0.6em;
        font-size: 1.5rem;
    }
    .sec2 p{
        line-height: 16px;
        letter-spacing: 0.6px;
        position: relative;
    }


    .chair{
        margin-top: 10px;
        margin-bottom: 0;
        max-width: 100%;
        position: relative;
    }
    .chair .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.1em;
        font-size: 0.9rem;
    }
    .chair .disc a{
        font-size: 0.9rem;
        margin: 10px 20px ;
        padding: 10px 20px;
    }
    


    .sofa{
        
        max-width: 100%;
        position: relative;
    }
    .sofa .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 0.1em;
        font-size: 0.9rem;
    }
    .sofa .disc a{
        font-size: 0.9rem;
        margin: 10px 20px ;
        padding: 10px 20px;
    }


    .bed{
        margin-top: 0;
        margin-bottom:0;
        max-width: 100%;
        position: relative;
    }
    .bed .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.1em;
        font-size: 0.9rem;
    }
    .bed .disc a{
        font-size: 0.9rem;
        margin: 10px 20px ;
        padding: 10px 20px;
    }


    .table{
        margin-top: 0;
        margin-bottom:0;
        max-width: 100%;
        position: relative;
    }
    .table .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 0.1em;
        font-size: 0.9rem;
    }
    .table .disc a{
        font-size: 0.9rem;
        margin: 10px 20px ;
        padding: 10px 20px;
    }



    .wall{
        margin-top: 0;
        margin-bottom:0;
        max-width: 100%;
        position: relative;
    }
    .wall .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.1em;
        font-size: 0.9rem;
    }
    .wall .disc a{
        font-size: 0.9rem;
        margin: 10px 20px ;
        padding: 10px 20px;
    }

    .sofa{
        margin:  0;
        max-width: 100%;
        position: relative;
    }

    .foot-4{
        display: flex;
        margin: auto;
    }
    .foot-4 .logo{
        font-size: 2.4rem;
        font-family: 'Cormorant Garamond', serif;
        margin: auto;
    }
    .foot-4 .official{
        text-align: center;
        font-size: 0.6rem;
    }


}



@media (max-width: 600px){
    html,
    body{
        font-family: 'Poppins', sans-serif;
        height: 100px;
        position: relative;
    }
    .background{
        position: relative;
        background-image: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0.1) ), url(/AEKI/space1.jpg);
        width: 100%;
        height: 100vh;
    }
    .navbar .logo{
        font-size: 1.8rem;
        margin-top: 0.5rem;
    }
    .toggle-button{
        top: .90rem;
        width: 30px;
        height: 19px;
    }
    .toggle-button .bar{
        height: 1.5px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .mantra{
        position: relative;
        padding-top: 6rem;
        text-align: center;
        width: 100%;
        color: #EFF5FB;
    }
    .mantra .intro{
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1;
        margin: auto;
    }
    .mantra .sub-intro{
        margin:auto 5em;
        font-size: 0.6rem;
    }
    


    .sec1 h1{
        text-align: center;
        padding-bottom:20px;
        font-size: 1.3rem;
    }
    .section{
        display: block;
        
    }
    .sec2{
        font-size: 0.6rem;
        padding-top:20px;
        padding-left: 20px;
        position: relative;
    }
    .sec2 i{
        position:absolute ;
        top: 0.9em;
        left:-0.6em;
        font-size: 1.4rem;
    }



    .chair .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.1em;
        font-size: 0.6rem;
    }
    .chair .disc a{
        font-size: 0.6rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }


    .sofa .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 0.1em;
        font-size: 0.6rem;
    }
    .sofa .disc a{
        font-size: 0.6rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }


    .bed .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 2em;
        font-size: 0.6rem;
    }
    .bed .disc a{
        font-size: 0.6rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }

    .table .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 2em;
        font-size: 0.6rem;
    }
    .table .disc a{
        font-size: 0.6rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }

    .wall .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 2em;
        font-size: 0.6rem;
    }
    .wall .disc a{
        font-size: 0.6rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }
   
        /*FOOTER*/

    footer .border{
        border-bottom: 2px solid #4d4d4d;
        display: block;
        position: relative;
        margin: 1.5em;
        /*MEDIA QUERY*/
    }
    footer .border .foot{
        position: relative;
        margin: 1em;
    }
    footer .border .foot h3{
        position: relative;
        color: white;
        margin: 1.2em 0;
        font-size: 1.6rem;
        
    }
    #forda-response{
       padding-top:1.2em;
    }
   
    footer .border .foot p{
        position: relative;
        margin: 0.5em 0;
        font-size: 1rem;
    }
    footer .border .foot a{
        color: #cecece;
    }

            /*SOCIAL MEDIA LOGO OF FOOTER */
    .foot .brands{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}
    .foot .fa-facebook{
        font-size: 2rem;
        margin: auto 0.5em;
    }
    .foot .fa-instagram{
    font-size: 2rem;
    margin: auto 0.5em;

    }
    .foot .fa-twitter{
        font-size: 2rem;
        margin: auto 0.5em;

    }
    .foot-4{
        display: inline;
        justify-content: space-around;
        text-align: center;
        
    }
    .foot-4 .logo{
        font-size: 2.5rem;
        margin-bottom: 0.1em;
        font-family: 'Cormorant Garamond', serif;
    }
    .foot-4 .official{
        font-size: 0.8rem;
    }
    .foot-4 .official p{
        margin: 0.5em 0;
    }
 
   
    
}


@media (max-width:400px){
    .mantra .intro{
        font-size: 1.1rem;
        font-weight: 600;
        margin: auto;
    }
    .mantra .sub-intro{
        margin:auto 5em;
        line-height: 1em;
        font-size: 0.6rem;
    }
    .chair .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.1em;
        font-size: 0.5rem;
    }
    .chair .disc a{
        font-size: 0.5rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }


    .sofa .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 0.1em;
        font-size: 0.5rem;
    }
    .sofa .disc a{
        font-size: 0.5rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }


    .bed .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 2em;
        font-size: 0.5rem;
    }
    .bed .disc a{
        font-size: 0.5rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }

    .table .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 2em;
        font-size: 0.5rem;
    }
    .table .disc a{
        font-size: 0.5rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }

    .wall .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 2em;
        font-size: 0.5rem;
    }
    .wall .disc a{
        font-size: 0.5rem;
        margin: 5px 10px ;
    }  
    
}


@media (max-width: 300px){
    .chair .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.1em;
        font-size: 0.4rem;
    }
    .chair .disc a{
        font-size: 0.45rem;
        margin: 5px 8px ;
        padding: 5px 8px;
    }


    .sofa .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 0.1em;
        font-size: 0.4rem;
    }
    .sofa .disc a{
        font-size: 0.4rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }


    .bed .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.5em;
        font-size: 0.4rem;
    }
    .bed .disc a{
        font-size: 0.4rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }

    .table .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 0.1em;
        font-size: 0.4rem;
    }
    .table .disc a{
        font-size: 0.4rem;
        margin: 5px 10px ;
        padding: 5px 10px;
    }

    .wall .disc{
        position: absolute;
        top: 0;
        padding: 1rem;
        right: 0.5em;
        font-size: 0.4rem;
    }
    .wall .disc a{
        font-size: 0.4rem;
        margin: 5px 10px ;
    }  
    .foot .brands{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .navbar .logo{
        font-size: 1.7rem;
        margin-top: 0.5rem;
    }
}
